<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Angular</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <script src="js/angular.js"></script>
    <script src="js/ngRoute.js"></script>
    <script src="js/ngAnimate.js"></script>
    <script src="js/ui-bootstrap-tpls-1.3.2.min.js"></script>

    <!-- We use client cookies to save the user credentials -->
    <script src="//code.angularjs.org/1.2.16/angular-cookies.min.js"></script>

    <!-- Auth0 Lock script and AngularJS module -->
    <script src="//cdn.auth0.com/js/lock-9.0.min.js"></script>
    <!-- angular-jwt and angular-storage -->
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-storage/master/dist/angular-storage.js"></script>
    <script type="text/javascript" src="//cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>

    <script src="//cdn.auth0.com/w2/auth0-angular-4.js"></script>

    <base href="/angular/">


    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>
<body ng-cloak>
<header>
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="menuCtrl">
        <div class="container" ng-controller="collapseCtrl">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Angular</a>
            </div>
            <div uib-collapse="isCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="go('/about')">About</a></li>
                    <li><a href="" ng-click="go('/products')">Products</a></li>
                    <li><a href="" ng-click="go('/login')">Login/Registration</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>


<div class="top-content" ng-controller="loginCtrl">
    <div class="products" ng-controller="productsCtrl">
        <div class="inner-bg">
            <div ng-view>
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add new product to collection</h4>
                        </div>
                        <div class="modal-body">
                            <form name="form" class="form-horizontal" role="form" novalidate>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Title:</label>
                                    <div class="col-lg-8">
                                        <input class="form-control" ng-required="true" name="newTitle"
                                               ng-model="newTitle" type="text"
                                        >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-3 control-label">Description:</label>
                                    <div class="col-lg-8">
                                        <textarea class="form-control" name="newDescription" ng-model="newDescription"
                                                  rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-8">
                                        <input type="button" class="btn btn-primary" data-dismiss="modal"
                                               ng-click="addProduct()"
                                               value="Add Product">
                                        <span></span>
                                        <button class="btn btn-default" data-dismiss="modal"
                                                ng-click="reset(product)">Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<footer ng-controller="loginCtrl">
    <nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
        <div class="container" ng-controller="logoutCtrl">
            <div class="footer">
                <p>Signed in as <a href="#" class="navbar-link">{{auth.profile.nickname}}</a><a href="#!/login"
                                                                                                ng-click="logout()"> Logout
                    !</a></p>
            </div>

        </div>
    </nav>
</footer>

<script src="js/jquery.min.js"></script>

<script type="text/javascript">

    var myApp = angular.module("myApp", ["ngRoute", "ngAnimate", "auth0", "angular-storage", "angular-jwt", "ui.bootstrap"])
            .run(function ($rootScope, auth, store, jwtHelper, $location) {
                // This events gets triggered on refresh or URL change
                $rootScope.$on("$locationChangeStart", function () {
                    var token = store.get("token");
                    if (token) {
                        if (!jwtHelper.isTokenExpired(token)) {
                            if (!auth.isAuthenticated) {
                                auth.authenticate(store.get("profile"), token);
                            }
                        } else {
                            // Either show the login page or use the refresh token to get a new idToken
                            $location.path("/about");
                        }
                    }
                });
            });

    myApp.controller("collapseCtrl", function ($scope) {
        $scope.isCollapsed = false;
    });

    myApp.controller('ReviewCollapseCtrl', function ($scope) {
        $scope.isCollapsed = true;
    });

    myApp.controller("tabsCtrl", function ($scope) {
        $scope.tabs = [
//            { title:'Dynamic Title 1', content:'Dynamic content 1'},
//            { title:'Dynamic Title 2', content:'Dynamic content 2'}
        ];

        $scope.model = {
            name: "Tabs"
        };
    });
    myApp.controller('AddRatingReviewCtrl', function ($scope) {
        $scope.rate = 3;
        $scope.max = 5;
        $scope.isReadonly = false;

        $scope.hoveringOver = function(value) {
            $scope.overStar = value;
            $scope.percent = 100 * (value / $scope.max);
        };
    });

    myApp.controller("ratingReviewCtrl", function ($scope) {
        $scope.rate = $scope.review.ratingValue;
        $scope.max = 5;
        $scope.percent = 100 * ($scope.rate / $scope.max);
        $scope.isReadonly = true;

        $scope.addReviewReply = function (review){

        };

//        $scope.hoveringOver = function(value) {
//            $scope.overStar = value;
//
//        };

    });

//    myApp.controller("alertCtrl", function ($scope) {
//        $scope.alerts = [
//            { type: "danger", msg: "Oh snap! Change a few things up and try submitting again." },
//            { type: "success", msg: "Well done! You successfully read this important alert message." }
//        ];
//
//        $scope.addAlert = function() {
//            $scope.alerts.push({msg: "Another alert!"});
//        };
//
//        $scope.closeAlert = function(index) {
//            $scope.alerts.splice(index, 1);
//        };
//    });

    myApp.controller("modalCtrl", function ($scope, $uibModal, $log) {

        $scope.items = $scope.products;


        $scope.animationsEnabled = true;

        $scope.open = function (size) {

            var modalInstance = $uibModal.open({
                animation: $scope.animationsEnabled,
                templateUrl: "myModalContent.html",
                controller: "modalInstanceCtrl",
                scope: $scope,
                size: size,
                resolve: {
                    items: function () {
                        return $scope.items;
                    }
                }
            });

            modalInstance.result.then(function (selectedItem) {
                $scope.selected = selectedItem;
            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };

        $scope.toggleAnimation = function () {
            $scope.animationsEnabled = !$scope.animationsEnabled;
        };

    });

    // Please note that $uibModalInstance represents a modal window (instance) dependency.
    // It is not the same as the $uibModal service used above.

    myApp.controller("modalInstanceCtrl", function ($scope, $uibModalInstance, items) {

        $scope.items = items;
        $scope.selected = {
            item: $scope.items[0]
        };

        $scope.ok = function () {
            $uibModalInstance.close($scope.selected.item);
        };

        $scope.cancel = function () {
            $uibModalInstance.dismiss('cancel');
        };
    });


    myApp.controller("loginCtrl", function ($scope, auth, store, $location) {
        $scope.auth = auth;
    });

    myApp.controller("aboutCtrl", function ($scope, auth) {
//        $scope.auth = auth;
    });

    myApp.controller("logoutCtrl", function (auth, $scope, $location, store) {

        $scope.logout = function () {
            auth.signout();
            store.remove("profile");
            store.remove("token");
            $location.path("/login");
        }
    });

    myApp.controller("menuCtrl", function ($scope, $location) {
        $scope.go = function (target) {
            $location.path(target);
        };
    });

    myApp.controller("productCtrl", function ($scope, $http, $routeParams) {

        $http ({
            url: "http://localhost:3000/products/",
            method: "get",
            params: {
                id:$routeParams.id
            }
        })
                .success(function(){
                    $scope.product = $scope.products[$routeParams.id - 1];
                })
    });

    myApp.controller("productsCtrl", function ($scope, $http) {
        $http.get("http://localhost:3000/products").success(function (myProducts) {
            $scope.products = myProducts;
            $scope.isVisible = true;
//            $scope.editMsg = false;


//            $scope.ShowHide = function () {
//                $scope.isVisible = $scope.test;
//            };
//
            $scope.deleteProduct = function (product) {
                $http.delete("http://localhost:3000/products/" + product.id)
                        .success(function () {
                            var index = $scope.products.indexOf(product);
                            $scope.info = true;
                            $scope.products.splice(index, 1);
                            $scope.deleteMsg = 'Product  "' + product.productName + '" was successfully deleted';
                            console.log($scope.products);
                        })
                        .error(function () {

                        });
            };
            $scope.saveProduct = function (product) {
                $http.put("http://localhost:3000/products/" + product.id, {
                            title: product.productName,
                            description: product.description,
                            img: product.img
                        })
                        .success(function () {
                            $scope.info = true;
                            $scope.deleteMsg = 'Product "' + product.productName + '" was successfully updated';

                        });

            };
            $scope.addProduct = function () {
                var data = {
                    title: $scope.newTitle,
                    description: $scope.newDescription,
                    img: ""
                };

                $http.post("http://localhost:3000/products/", data)
                        .success(function () {
                            $scope.PostDataResponse = data;
                            $scope.info = true;
                            $scope.deleteMsg = 'Product "' + $scope.newTitle + '" was successfully added';

                            $scope.$apply();

                        });


            };

//            $scope.copyProduct = function (product) {
//                $scope.form = angular.copy(product);
//                console.log($scope.form)
//            };
//
//            $scope.reset = function (product) {
//                product.productName = $scope.form.title;
//                product.description = $scope.form.description;
//                product.img = $scope.form.img;
//                $scope.info = true;
//                $scope.deleteMsg = 'Product "' + product.productName + '" was not updated';
//            };
        });
    });

    myApp.config(function (authProvider, $routeProvider, $httpProvider, jwtInterceptorProvider, $locationProvider) {


                jwtInterceptorProvider.tokenGetter = ["store", function (store) {
                    // Return the saved token
                    return store.get("token");
                }];

                $httpProvider.interceptors.push("jwtInterceptor");
                // ...
                authProvider.on("loginSuccess", function ($location, profilePromise, idToken, store) {
                    console.log("Login Success");
                    profilePromise.then(function (profile) {
                        store.set('profile', profile);
                        store.set('token', idToken);
                    });
                    $location.path("/products");
                });

                authProvider.on("loginFailure/", function (err) {
                    console.log("Something went wrong" + err);
                });
                $routeProvider
                        .when("/login/", {
                            templateUrl: "views/login.html",
                            controller: "loginCtrl"
                        })
                        .when("/products/", {
                            templateUrl: "views/products.html",
                            controller: "productsCtrl",
                            requiresLogin: true

                        })
                        .when("/", {
                            templateUrl: "views/about.html",
                            controller: "aboutCtrl"
                            /* isAuthenticated will prevent user access to forbidden routes */
                        })
                        .when("/about/", {
                            templateUrl: "views/about.html",
                            controller: "aboutCtrl"
                            /* isAuthenticated will prevent user access to forbidden routes */
                        })
                        .when("/products/:id", {
                            templateUrl: "views/product.html",
                            controller: "productCtrl",
                            requiresLogin: true
                            /* isAuthenticated will prevent user access to forbidden routes */
                        });
//                        .otherwise({
//                            redirectTo: "/about"
//                        });


                $locationProvider
                        .html5Mode(false)
                        .hashPrefix('!');


                authProvider.init({
                    domain: 'shs.eu.auth0.com',
                    clientID: 'HwK5uss3hhSLnxVGKhupm4z8QG2E3jcy',
                    callbackURL: location.href,
                    // Here include the URL to redirect to if the user tries to access a resource when not authenticated.
                    loginUrl: '/about'

                });

            })
            .run(function (auth) {
                // This hooks al auth events to check everything as soon as the app starts
                auth.hookEvents();
            });
</script>
</body>
</html>