<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="productTitle text-center">{{product.productName}}</h2>
            <hr>
        <div class="col-md-5">
            <img class="product-img" ng-src="{{product.img}}" alt="{{product.productName}}">
        </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <div ng-controller="tabsCtrl">

                        <uib-tabset active="active">

                                <uib-tab index="0" heading="Description"><div class="product-tabs">
                                    <div class="row">
                                        <!--<div class="col-md-12">-->
                                            <!--<h3 class="about">About Product:</h3>-->
                                        <!--</div>-->
                                        <div class="col-md-4">
                                    <div class="price"><span >Price : </span>{{product.productPrice}}</div>
                                    <div class="bestRating"><span >Best Rating : </span>{{product.bestRating}}</div>
                                    <div class="worstRating"><span >Worst Rating : </span>{{product.worstRating}}</div>
                                </div>
                                        <div class="tb col-md-8">

                                            {{product.description}}
                                        </div>
                                    </div>

                                </div>
                                </uib-tab>

                            <uib-tab index="1" heading="Features"><div class="product-tabs">{{product.productFeatures}}</div></uib-tab>
                            <uib-tab index="2" heading="Notes"><div class="product-tabs">Static content</div></uib-tab>
                            <uib-tab index="3" heading="Reviews">
                                <div class="product-tabs">
                                <div class="row" ng-controller="reviewCtrl" >
                                    <div class="col-md-8">
                                        <h4> All Reviews : {{product.reviews.length}}</h4>
                                    </div>
                                    <div ng-controller="ReviewCollapseCtrl">
                                    <div class="col-md-4">
                                        <button class="btn btn-info" ng-click="isCollapsed = !isCollapsed">Write a Review</button>
                                    </div>
                                    <div class="col-md-12" uib-collapse="isCollapsed">
                                        <div add-review></div>
                                    </div>
                                    </div>

                                </div>
                                <div class="bestReviews" ng-repeat="review in product.reviews | orderBy:'ratingValue'">
                                    <div class="review">
                                        <div class="reviewInfo">
                                        <div class="row">

                                            <div class="col-md-5">
                                                <div class="reviewer">Author : <span class="reviewer-name">{{review.author}}</span>
                                                    <div ng-controller="ratingReviewCtrl">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            Rate :
                                                            <uib-rating ng-model="rate" max="max" read-only="isReadonly"
                                                                        on-hover="hoveringOver(value)" on-leave="overStar = null"
                                                                        titles="['one','two','three']"
                                                                        aria-labelledby="default-rating"></uib-rating>
                                    <span class="label"
                                          ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}"
                                          >{{percent}}%</span>
                                                        </div>

                                                    </div>

                                                </div>


                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="time">
                                                    <small>{{review.datePublished}}</small>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                            <div class="reviewTitle">
                                                {{review.title}}
                                            </div>
                                            <div class="reviewDescription">
                                                {{review.description}}
                                            </div>
                                                 <!--TODO(shs): добавить логику и сделать контроллер-->
                                                <div ng-controller="ReviewCollapseCtrl">
                                                    <a class="reply" href="" ng-click="addReviewReply(review); isCollapsed = !isCollapsed"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
                                                    <div uib-collapse="isCollapsed">
                                                        <hr>
                                                        <div add-review></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                    </div>
                            </uib-tab>
                        </uib-tabset>
                        </br>
                        <a href="/products" class="btn btn-info">Back to products List</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>