<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img ng-src="{{product.img}}" alt="{{product.title}}">
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <h2 class="productTitle">{{product.title}}</h2>
                    <tabs>
                        <pane title="Description">
                            <div class="description">{{product.description}}</div>
                        </pane>
                        <pane title="Features">
                            <div class="features">This is the content of the second tab.</div>
                        </pane>
                        <pane title="Reviews">
                            <div class="row">
                                <div class="col-md-6">
                                    <span class="sr-only">Four out of Five Stars</span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                                    <span class="label label-success">61</span>
                                </div>
                                <div class="col-md-6">
                                    <span class="monospaced">Write a Review</span>
                                </div>

                            </div>
                            <div class="row">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, vitae?</p>

                            </div>

                    </tabs>
                </div>
            </div>
        </div>
    </div>
</div>