<div class="container">
    <!--<label><input type="checkbox" ng-model="test" ng-change="ShowHide()"/>Show Main panel</label>-->
    <div class="alert alert-success " ng-show="info">{{deleteMsg}}</div>
    <div class="form-group">
        <label for="product">Search:</label>
        <input type="text" class="form-control" id="product" ng-model="searchProduct" placeholder="Search Product">
    </div>

    <div class="row flex-row" ng-if="isVisible">
<!--TODO(shs): сделать логику для добавления нового продукта-->
        <div class="col-sm-6 col-md-4 ">
            <div class="thumbnail">
                <a href="" data-toggle="modal" data-target="#myModal"><i class="centerFa fa fa-plus"></i></a>
            </div>
        </div>

        <div class="col-sm-6 col-md-4 " ng-repeat="product in products | filter:searchProduct">

            <div class="thumbnail">
                <img ng-src="{{product.img}}" alt="">
                <div class="caption" ng-controller="menuCtrl">
                    <h3>{{product.productName}}</h3>
                    <p class="description flex-text text-muted">{{product.description}}</p>


                    <div ng-controller="modalCtrl">
                        <script type="text/ng-template" id="myModalContent.html">
                            <div class="modal" id="modal"></div>
                            <div class="modal-header">

                                <button type="button" class="close" ng-click="cancel()"><span aria-hidden="true">×</span></button>
                                <h3 class="modal-title">Update Product :</h3>
                            </div>
                            <div class="modal-body">
                                <form name="form" class="form-horizontal" role="form" novalidate>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Title:</label>
                                        <div class="col-lg-8">
                                            <input class="form-control" ng-model="product.productName" type="text"
                                                   value="{{form}}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3 control-label">Description:</label>
                                        <div class="col-lg-8">
                                            <textarea class="form-control" ng-model="product.description" rows="10" value="{{form}}"></textarea>
                                        </div>
                                    </div>

                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="button" ng-click="saveProduct(product); ok()">Update</button>
                                <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                            </div>
                        </script>
                        <p class="btn-thumb">
                            <a href="#!/products/{{$index + 1}}" class="btn btn-info" ng-click="viewProduct(product)">View</a>
                            <button type="button" class="btn btn-default" ng-click="open('lg')" >Edit!</button>
                            <button class="btn btn-default" ng-click="deleteProduct(product)" role="button">
                                Delete
                            </button>
                        </p>

                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
